---
import Layout from "../layouts/Layout.astro";
import HomeImages from "../components/homeImages.astro";
import Effect from "../components/effect.astro";
import Contents from "../components/homeText.astro";
import "../style/global.css";
---

<Layout>
	<Effect />
	<div id="delayed-content" style="opacity: 0;">
		<HomeImages />
		<Contents />
	</div>
</Layout>

<script>
	// Mostra i componenti dopo 2 secondi con fade-in
	setTimeout(() => {
		const delayedContent = document.getElementById("delayed-content");
		if (delayedContent) {
			delayedContent.style.opacity = "1";
		}
	}, 400); // 2000ms = 2 secondi
</script>
