---

import Layout from "../layouts/Layout.astro";
import HomeImages from "../components/homeImages.astro";
import "../style/global.css";
import Logo from "../assets/title/title.svg";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");

import ProjectModal from "../components/ProjectModal.svelte";
let modalComponent;
import ProjectCard from "../components/Card.astro";

---

<Layout>

 <div class="crt-overlay"></div>
	<HomeImages />
	<div class="title-container">
		<!-- <img src={titleSvg.src} alt="Title" class="title-svg" /> -->
		<Logo alt="Title" class="title-svg" preserveAspectRatio="none" />
	</div>
	<!-- <HomeImages /> -->
{projects.map((project) => (
        <ProjectCard project={project} />
      ))}


  <ProjectModal client:load />
  <script>
    import '../scripts/projectCards.js';
  </script>

	<!-- <div class="title-container"> -->
		<!-- <img src={titleSvg.src} alt="Title" class="title-svg" /> -->
		 <!-- <Logo alt="Title" class="title-svg" preserveAspectRatio="none" />
	</div> -->
</Layout>

<style>
	.crt-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 9999;
		background: repeating-linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.05),
			rgba(0, 0, 0, 0.05) 2px,
			transparent 3px,
			transparent 4px
		);
		mix-blend-mode: multiply;
		animation: flicker 0.1s infinite;
	}

	@keyframes flicker {
		0%,
		100% {
			opacity: 0.95;
		}
		50% {
			opacity: 1;
		}
	}

	.title-container {
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		position: absolute;
		top: 0;
		padding-left: 1rem;
	}

	.title-svg {
		width: 50vw;
		height: 100%;
	}
</style>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.card').forEach(card => {
      card.addEventListener('click', () => {
        const i = Number(card.getAttribute('data-index'));
        if (modalComponent && modalComponent.openModal) {
          modalComponent.openModal(i);
        }
      });
    });
  });
</script>
