---

import Layout from "../layouts/Layout.astro";
import HomeImages from "../components/homeImagesPerSvelte.astro";
import Effect from "../components/effect.astro";
import Contents from "../components/homeText.astro";
import "../style/global.css";
import Logo from "../assets/title/title.svg";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");

import ProjectModal from "../components/Modal.svelte";
let modalComponent;
import ProjectCard from "../components/Card.astro";

---

<Layout>
	<Effect />
	<div id="delayed-content" style="opacity: 0;">
		<HomeImages />
		<Contents />
	</div>
	<!-- <HomeImages /> -->
<!-- {projects.map((project) => (
        <ProjectCard project={project} />
      ))}


  <script>
    import '../scripts/projectCards.js';
  </script> -->

	<!-- <div class="title-container"> -->
		<!-- <img src={titleSvg.src} alt="Title" class="title-svg" /> -->
		 <!-- <Logo alt="Title" class="title-svg" preserveAspectRatio="none" />
	</div> -->
</Layout>


<script>
	// Mostra i componenti dopo 2 secondi con fade-in
	setTimeout(() => {
		const delayedContent = document.getElementById("delayed-content");
		if (delayedContent) {
			delayedContent.style.opacity = "1";
		}
	}, 400); // 2000ms = 2 secondi
</script>
