---
import Layout from "../layouts/Layout.astro";
import HomeImages from "../components/homeImages.astro";
import "../style/global.css";
import titleSvg from "../assets/title/title.svg";
---

<Layout>
	<HomeImages />
	<div class="title-container">
		<img src={titleSvg.src} alt="Title" class="title-svg" />
	</div>
</Layout>

<style>
	.title-container {
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		position: relative;
		padding-left: 1rem;
	}

	.title-svg {
		width: 50vw;
		height: 100vh;
	}
</style>
