---
import Logo from "../assets/title/title.svg";
import BackgroundText from "./homeText.svelte";
import AboutButton from "./About.svelte";
// import '../style/background.css'
---

<header class="title-container">
	<Logo aria-label="BELIEVE IT OR NOT" class="title-svg" preserveAspectRatio="none" />
</header>
<div class="subtitle-container" class="blur">
	<p>speculating on (un)real conspiracy theories</p>
</div>

<BackgroundText client:load>

<!-- <div class="text-container" class="blur">
	<div class="text-content">
		<div class="text-top">
			<div class="text-block draggable" data-text-id="block1">
				<h1 class="no-select">
					Antidiciplinary <br /> Communication <br /> Design Lab
				</h1>
			</div>
			<div class="text-top-right draggable" data-text-id="block2">
				<h2 class="no-select">
					Final Synthesis Studio C1 <br /> BA Communication Design <br /> Politecnico
					di Milano <br /> School of Design
				</h2>
				<ul class="text-links" class="no-select">
					<li>
						<AboutButton client:load/>
												<a href="">EN/ITA</a>

						<a href="">EN/ITA</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="text-bottom draggable" data-text-id="block3">
			<h3 class="no-select">
				14 June 2025 <br /> 11AM–7PM <br /> @DotDotDot <br /> Via Tertulliano 68,
				MI
			</h3>
		</div>
	</div>
</div> -->
<style>

	.title-container {
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		display: flex;
	}
	.title-svg {
		width: 55vw;
		height: 100%;
	}

	.subtitle-container {
		position: absolute;
		bottom: 0;
		width: 100vw;
		overflow: hidden;
		display: flex;
		font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
		font-size: clamp(2rem, 15vw, 6rem);
		filter: blur(1px);
				color: var(--giallo);
		line-height: 95%;
	}
	@media (max-width: 768px) {
	
		.title-svg {
			height: 100%;
			width: 100vw;
		}
	}
</style>
