---
import Logo from "../assets/title/title.svg";
---

<div class="title-container">
	<Logo aria-label="Title" class="title-svg" preserveAspectRatio="none" />
</div>
<div class="subtitle-container" class="blur">
	<h6>speculating on (un)real conspiracy theories</h6>
</div>
<div class="text-container" class="blur">
	<div class="text-content">
		<div class="text-top">
			<div class="text-block draggable" data-text-id="block1">
				<h1 class="no-select">
					Antidiciplinary <br /> Communication <br /> Design Lab
				</h1>
			</div>
			<div class="text-top-right draggable" data-text-id="block2">
				<h2 class="no-select">
					Final Synthesis Studio C1 <br /> BA Communication Design <br /> Politecnico
					di Milano <br /> School of Design
				</h2>
				<ul class="text-links" class="no-select">
					<li>
						<a href="">ABOUT</a>
						<a href="">EN/ITA</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="text-bottom draggable" data-text-id="block3">
			<h3 class="no-select">
				14 June 2025 <br /> 11AM–7PM <br /> @DotDotDot <br /> Via Tertulliano 68,
				MI
			</h3>
		</div>
	</div>
</div>

<style>
	.title-container {
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		display: flex;
	}
	.title-svg {
		width: 55vw;
		height: 100%;
	}

	.subtitle-container {
		position: absolute;
		bottom: 0;
		width: 100vw;
		overflow: hidden;
		display: flex;
		font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
		font-size: clamp(2rem, 15vw, 6rem);
		filter: blur(1px);
	}

	.text-container {
		position: absolute;
		top: 0;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		display: flex;
		justify-content: right;
	}

	.text-content {
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width: 0;
	}

	.text-top {
		display: flex;
		padding: 0 2rem;
		text-wrap: nowrap;
		overflow: hidden;
		min-width: 0;
		gap: 2rem;
	}

	.text-top-right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.text-links li {
		display: flex;
		gap: 1rem;
	}

	.text-bottom {
		margin-bottom: 12rem;
	}

	h1,
	h3 {
		filter: blur(1px);
	}
	h2,
	.text-links {
		filter: blur(0.6px);
	}

	@media (max-width: 768px) {
		.text-container {
			justify-content: left;
		}
		.text-content {
			width: 100%;
		}
		.text-top {
			padding: 1rem 1rem;
			gap: 0;
			justify-content: space-between;
		}
		.title-svg {
			height: 100%;
			width: 100vw;
		}
	}
</style>
