---
import "../style/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Believe It or Not</title>
		<meta property="og:site_name" content="Believe It or Not">
		<meta property="og:description" content="speculating on (un)real conspiracy theories ">
		<meta property="og:locale" content="en_US">
		<meta property="og:locale:alternate" content="it_IT">

		<meta property="og:image" content="https://believeitornot.antidisciplinarylab.it/assets/og_image.png" />
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="https://believeitornot.antidisciplinarylab.it/" />

		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>
